development: &defaults
  adapter: mysql2
  encoding: utf8
  database: peatio_development
  username: root
  password: zsJvdVvUQScjHXxIEW8D4aDrn5$87L4BqdCs!Gm7PGOr^3*sS%
  pool: 10
  reconnect: true

test:
  <<: *defaults
  database: peatio_test

production:
  <<: *defaults
  database: peatio_production
